body {
    font-family: Georgia;
    background-color: #E9FFE9;
  }
  
  #title {
    text-align: center;
  }
  
  h2, h4 {
    text-align: center;
  }
  
  h3 {
    font-size: 22px;
  }
  
  p {
    margin-left: 2em;
    margin-right: 2em;
  }
  
  #img-caption {
    text-align: center;
    font-size: 22px;
    font-family: garamond;
  }
  
  img {
    align-self: center;
    max-width: 100%; 
    display: block; 
    height: auto;
    margin: auto;
  }